<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    /*align-items: center;*/
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }

  .example-form {
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }

  section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 50px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
  
table {
  width: 100%;
}

.app-toolbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
}
</style>

<mat-toolbar class="app-toolbar" color="primary">
  <span>Employee APP</span>
</mat-toolbar>

<div class="content" role="main">

  <div>
    <h1>DADOS CADASTRAIS</h1>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Documento</mat-label>
        <input matInput [(ngModel)]="employeeData.document">
      </mat-form-field>
      
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Primeiro nome</mat-label>
        <input matInput [(ngModel)]="employeeData.firstName">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Sobrenome</mat-label>
        <input matInput [(ngModel)]="employeeData.lastName">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput [(ngModel)]="employeeData.email">
      </mat-form-field>

      <section>
        <div class="example-button-row">
          <a (click)="saveEmployee()" mat-flat-button color="primary">SALVAR</a>
          <a (click)="cancelForm()" mat-stroked-button color="primary">CANCELAR</a>
        </div>
      </section>

  </div>

  <div>
    <h1>CONSULTA</h1>

    <table mat-table [dataSource]="employees" class="mat-elevation-z8">
    
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> NOME </th>
        <td mat-cell *matCellDef="let employee"> {{employee.firstName}} {{employee.lastName}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> EMAIL </th>
        <td mat-cell *matCellDef="let employee"> {{employee.email}} </td>
      </ng-container>

      <ng-container matColumnDef="documento">
        <th mat-header-cell *matHeaderCellDef> DOCUMENTO </th>
        <td mat-cell *matCellDef="let employee"> {{employee.document}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> AÇÕES </th>
        <td mat-cell *matCellDef="let employee"> 
          <button (click)="loadEditEmployee(employee)" mat-icon-button color="primary">
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="deleteEmployeeById(employee.id)" style="margin-left: 10%;" mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

</div>

<router-outlet></router-outlet>
